@model eInvitationApp.Models.InviteModel
@{
    ViewData["Title"] = "Home Page";
}


    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-5">
            <img src="~/assets/marriage.svg" />
        </div>
        @if (ViewBag.ShowLinkbtn == false || ViewBag.ShowLinkbtn == null)
        {
            <form method="post" onsubmit="StartProcess()">
                <div class="col-md-12 col-lg-12 " id="passKey">
                    <input asp-for="Password" class="form-control mb-4" id="password" placeholder="Enter Password" required type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn generate_btn" value="Get Started" />
                    </div>

                </div>
            </form>
        }

        @if (ViewBag.ShowLinkbtn == true)
        {
            <input type="submit" value="Generate Invite Link" class="btn generate_btn" id="genLink" onclick="GenerateLink()" />
        }

        <div class="col-md-4 col-lg-4 d-none" id="formLink">
            <input type="text" id="inviteLink" class="form-control mb-4 " readonly />
            <div class="d-flex justify-content-center">
                <input type="submit" id="btnCopyLink" class="btn generate_btn" value="Copy Invite Link" onclick="CopyLink()" />
            </div>
        </div>

        @if (ViewBag.ShowLinkbtn == true)
        {
            <div class="card-deck" style="padding-top:20px">
                    <div class="card" style="width: 12rem;">
                        <div class="card-header stats_header align-items-center d-flex justify-content-center">
                            Links Generated
                        </div>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h4 class="card-title">@ViewBag.TotalLinkGenerated</h4>
                        </div>
                    </div>
                    <div class="card" style="width: 12rem;">
                        <div class="card-header stats_header align-items-center d-flex justify-content-center">
                            Registered
                        </div>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h4 class="card-title">@ViewBag.TotalRegistered</h4>
                        </div>
                    </div>

                    <div class="card" style="width: 12rem;">
                        <div class="card-header stats_header align-items-center d-flex justify-content-center">
                            Not Registered
                        </div>
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <h4 class="card-title">@ViewBag.TotalNotRegistered</h4>
                        </div>
                    </div>
            </div>
        }
        </div>

@section Scripts
{
    <script>
        let genLink = $('#genLink');
        let formLink = $('#formLink');


        function GenerateLink() {
            var data = {
                action: "generate_invite",
                callback: "googleDocCallback",
            }
            genLink.attr('value', 'Loading....');
            genLink.prop("disabled", true);
            //var action = "generate_invite";
            $.ajax({
                type: "post",
                url: "https://script.google.com/macros/s/AKfycbwilW4_LJrUVzziROPO6gdL3wM8cWnN-hke729NaQ67_vSfG_g/exec",
                data: JSON.stringify(data),
                //contentType: "application/javascript",
                //dataType: 'jsonp',
                success: function (resp) {
                    $("#inviteLink").val(window.location.origin + "/Home/Register?id=" + resp.data);
                
                    genLink.addClass('d-none');
                    formLink.removeClass('d-none');
                },
                error: function () {
                    alert("An error occurred!")
                    genLink.text('Generate Invite Link');
                    genLink.prop("disabled", false);
                }

            });
        }

        function StartProcess() {
            var password = $("#password").val();
            var data = {
                password : password
            }
            $.ajax({
                type: "POST",
                url: "Home/Index",
                data: JSON.stringify(data),
                contentType: "application/javascript",
                success: function (resp) {
                
                },
                error: function () {
                    @*alert("An error occurred!")*@
                }
            })
        }

    </script>
    <script>
        function CopyLink() {
            var copyText = document.getElementById("inviteLink");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("Copy");
            alert("Invite Link successfully copied.");
        }
    </script>
}


