@model eInvitationApp.Models.AttendeeModel

@{
    ViewData["Title"] = "Register";
}


<h4 class="mb-3">
    Motunrayo and Olayiwola invites you to their wedding ceremony on <span class="font-weight-bold" style="color: #00A66C">Saturday 19, December 2020</span>
</h4>
<p>Please Register and Download your E-Invite</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="Register()">
            @*<div class="alert alert-danger col-sm-12" role="alert">
                    <span></span>
                </div>*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" id="firstName" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" id="lastName" required/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email Address</label>
                <input asp-for="email" class="form-control" id="email" required />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">Phone Number</label>
                <input asp-for="phone" class="form-control" id="phone" required />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Invitation" class="btn get-invite-btn mr-4"  id="btnReg" />
                <input type="button" value="Download Invitation" class="btn generate_btn" onclick="Download()" id="btnDownload" style="display:none" />
            </div>
        </form>
    </div>
    <div class="col-md-8 d-lg-flex justify-content-center align-items-center d-sm-none splash-scr">
        <img src="~/assets/splash.svg" />
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var currentURL = document.URL;
        const urlParams = new URL(currentURL);
        const attendeeIdFromUrl = urlParams.searchParams.get('id')
        var id = attendeeIdFromUrl;
        var data = {
            id: id,
            callback: "googleDocCallback",
            action: "check_attendee"
        }

        $.ajax({
            type: "POST",
            url: "https://script.google.com/macros/s/AKfycbwilW4_LJrUVzziROPO6gdL3wM8cWnN-hke729NaQ67_vSfG_g/exec",
            data: JSON.stringify(data),
            //contentType: "application/javascript",
            //dataType: 'json',
            success: function (resp) {
                if (resp.description.toLowerCase() == "attendee has registered") {
                    $("#firstName").val(resp.data.first_name).attr('readonly', 'readonly');
                    $("#lastName").val(resp.data.last_name).attr('readonly', 'readonly');
                    $("#email").val(resp.data.email).attr('readonly', 'readonly');
                    $("#phone").val(resp.data.phone_number).attr('readonly', 'readonly');
                    $("#btnReg").attr('disabled', 'disabled');
                    $("#btnDownload").show();

                }
                else {
                    $("#firstName").val("");
                    $("#lastName").val("");
                    $("#email").val("");
                    $("#phone").val("");
                    $("#btnDownload").hide();
                }

            },
            error: function () {
                alert("An error occurred!")
            }

        });

        function Register() {

            var id = attendeeIdFromUrl;
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var email = $("#email").val();
            var phone = $("#phone").val();
            var data = {
                action: "register_attendee",
                callback: "googleDocCallback",
                id: id,
                first_name: firstName,
                last_name: lastName,
                email: email,
                phone_number: phone
            }
            $.ajax({
                type: "POST",
                url: "https://script.google.com/macros/s/AKfycbwilW4_LJrUVzziROPO6gdL3wM8cWnN-hke729NaQ67_vSfG_g/exec",
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (resp) {
                    alert(resp.description);
                    $("#btnDownload").show();
                    console.log(resp)
                },
                error: function () {
                    alert("An error occurred!")
                }
            });
        }

        function Download() {
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();

            var reqDownload = {
                firstName: firstName,
                lastName: lastName
            }

            $.ajax({
                type: "POST",
                url: document.location.origin + "/Home/Register?firstName="+firstName+"&lastName="+lastName,
                data: JSON.stringify(reqDownload),
                contentType: "application/javascript",

                success: function (resp) {
                    alert("Download successful");
                },
                error: function () {

                    alert("An error occurred!")
                }

            });
        }
</script>


}
